@font-face {
  font-family: "iconfont"; /* project id 2392761 */
  src: url("//at.alicdn.com/t/font_2392761_44a9i2qjuqx.eot");
  src: url("//at.alicdn.com/t/font_2392761_44a9i2qjuqx.eot?#iefix")
      format("embedded-opentype"),
    url("//at.alicdn.com/t/font_2392761_44a9i2qjuqx.woff2") format("woff2"),
    url("//at.alicdn.com/t/font_2392761_44a9i2qjuqx.woff") format("woff"),
    url("//at.alicdn.com/t/font_2392761_44a9i2qjuqx.ttf") format("truetype"),
    url("//at.alicdn.com/t/font_2392761_44a9i2qjuqx.svg#iconfont") format("svg");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 0.16rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
